{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "API Ktor",
    "description": "Administra a movimentação de usuários e comandas."
  },
  "host": "me.api-ktor.com:8083",
  "basePath": "/RestAPIFurb/",
  "tags": [
    {
      "name": "usuarios",
      "description": "Operações sobre usuários"
    },
    {
      "name": "comandas",
      "description": "Operações sobre comandas"
    }
  ],
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/usuarios": {
      "get": {
        "tags": [
          "usuarios"
        ],
        "summary": "Consulta usuários",
        "description": "Consulta todos os usuários.",
        "operationId": "getUsuarios",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/Usuario"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "usuarios"
        ],
        "summary": "Cadastra usuário",
        "description": "Cadastra um novo usuário.",
        "operationId": "createUsuario",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Usuario"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Cadastro efetuado com sucesso",
            "schema": {
              "$ref": "#/definitions/Usuario"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "delete": {
        "tags": [
          "usuarios"
        ],
        "summary": "Deleta usuários",
        "description": "Deleta todos os usuários.",
        "operationId": "deleteUsuarios",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Ok"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/usuarios/{id}": {
      "get": {
        "tags": [
          "usuarios"
        ],
        "summary": "Consulta usuário",
        "description": "Consulta o usuário",
        "operationId": "getUsuario",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "Id do usuário"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/Usuario"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "usuarios"
        ],
        "summary": "Edita usuário",
        "description": "Edita um usuário.",
        "operationId": "updateUsuario",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "Id do usuário"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": [
          "usuarios"
        ],
        "summary": "Deleta usuário",
        "description": "Deleta um usuário.",
        "operationId": "deleteUsuario",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id do usuário",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/comandas": {
      "get": {
        "tags": [
          "comandas"
        ],
        "summary": "Consulta comandas",
        "description": "Consulta todas as comandas.",
        "operationId": "getComandas",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/Comanda"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "comandas"
        ],
        "summary": "Cadastra comanda",
        "description": "Cadastra uma nova comanda.",
        "operationId": "createComanda",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Comanda"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Cadastro efetuado com sucesso",
            "schema": {
              "$ref": "#/definitions/Comanda"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/comandas/{id}": {
      "get": {
        "tags": [
          "comandas"
        ],
        "summary": "Consulta comanda",
        "description": "Consulta a comanda",
        "operationId": "getComanda",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "Id da comanda"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/Comanda"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "comandas"
        ],
        "summary": "Edita comanda",
        "description": "Edita uma comanda.",
        "operationId": "updateComanda",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "Id da comanda"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": [
          "comandas"
        ],
        "summary": "Deleta comanda",
        "description": "Deleta uma comanda.",
        "operationId": "deleteComanda",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id da comanda",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "BasicAuth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "BasicAuth": []
    }
  ],
  "definitions": {
    "Usuario": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "email": {
          "type": "string"
        },
        "senha": {
          "type": "string"
        }
      }
    },
    "Comanda": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "idUsuario": {
          "type": "integer",
          "format": "int64"
        },
        "produtos": {
          "type": "string"
        },
        "valorTotal": {
          "type": "number"
        }
      }
    }
  }
}